* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #071022;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-body {
  /* background-color: #071022; */
  width: 80%;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  background: #fff;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

.messageList {
  width: 100%;
  color: #222;
  height: calc(80vh - 100px);
  overflow-y: scroll;
  background: #fff;
  padding: 10px;
}

.message-row {
  display: flex;
  justify-content: right;
  width: 100%;
}

.message-row.robot {
  justify-content: left;
}

.message-item {
  width: 48%;
  border: 1px solid #ccc;
  text-align: left;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.message-item__autor {
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.message-item__text {
  font-size: 18px;
}

.inpt {
  /* border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px; */
  width: 40%;
}

.btn {
  background: green;
  color: #fff;
  box-shadow: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.form-message {
  padding: 10px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.chatList {
  width: 30%;
  background: #fff;
  border-right: 1px solid #eee;
}

.chatItem {
  padding: 5px;
  background: #071022;
  margin: 5px;
  border-radius: 5px;
}

.messageArea {
  width: 70%;
}

.menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.menu li {
  padding: 5px;
}

.menu-area {
  width: 100%;
}

h2,
h3 {
  color: #000;
}

.chatArea {
  display: flex;

}

.profile-block {
  color: #000;
}

.chat-add-area {
  display: flex;
  justify-content: center;
}

.child__bordered  p {
  color: #000;
}

.block-gist {
  max-height: 80vh;
  color: #000;
  text-align: left;
  overflow: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
